body{
    background-color: #52376D;
    margin: 5px;
    font-family: Courier, sans-serif;
}

/* START OF HEADER */
header{
    padding: 0 45%;
    background-color: #EFE4FA;
}

header a, h1{
    font-size: 50px;
    font-family: Righteous, sans-serif;
    color: black;
    text-decoration: none;
    margin: 0;
}

header img{
    height: 65px;
    width:  90px;
    padding: 0 66px;
}
/* END OF HEADER */


/* START OF NAV BAR */
ul {
    font-family: Staatliches;
    font-size: 19px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;
  }
  
  li {
    display: inline;
    margin: 0 3%;
  }
  
  li a, .button {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 155px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-content a:hover{
      background-color: #efefef;
  }
  /* END OF NAV BAR*/


  /* FOOTER START */
footer {
    font-size: 15px;
    text-align: right;
    padding: 5px 10px 10px 0;
    color: white;
  }
  
  footer a{
    color:white
  }
  footer a:hover{
    color: #AAAAAB;
  }
  /* FOOTER END*/
